body {
  background-image: url("../images/clock.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: #ebebeb;
  /* color: #222121; */
}

.clock-container {
  max-width: 500px;
  margin: 100px auto;
  border: 1px solid #c2c2c2;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 38px;
}

select {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background-color: #e7e7e7;
  font-size: 14px;
}

h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

.city-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding: 0 20px;
}

.date {
  opacity: 0.8;
  color: #ebebeb;
}

.time {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: #ebebeb;
}

.time small {
  font-size: 16px;
  vertical-align: middle;
}

a {
  color: #303030;
}

footer {
  text-align: center;
  font-family: monospace;
  font-size: 12px;
  color: #bababa;
  margin-top: 50px;
}
